<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qrsx.admin.person.mapper.ArcPersonMapper">

    <select id="selectPerson" resultType="com.qrsx.admin.person.data.ArcPerson">
        select
        *
        from
        arc_person
        <if test="fuzzy != null and fuzzy != ''">
            where
            person_name like concat('%',#{fuzzy},'%')
            or sex like concat('%',#{fuzzy},'%')
            or id_card like concat('%',#{fuzzy},'%')
            or duty like concat('%',#{fuzzy},'%')
            or phone like concat('%',#{fuzzy},'%')
            or state like concat('%',#{fuzzy},'%')
        </if>
        order by data_create_date_time desc
        limit #{page},#{pageSize}
    </select>
    <select id="selectTotal" resultType="java.lang.Long">
        select count(*) from arc_person
        <if test="fuzzy != null and fuzzy != ''">
            where
            person_name like concat('%',#{fuzzy},'%')
            or sex like concat('%',#{fuzzy},'%')
            or id_card like concat('%',#{fuzzy},'%')
            or duty like concat('%',#{fuzzy},'%')
            or phone like concat('%',#{fuzzy},'%')
            or state like concat('%',#{fuzzy},'%')
        </if>
    </select>
    <select id="selectPersonByCode" resultType="com.qrsx.admin.person.data.ArcPerson">
        select
        *
        from
        arc_person
        <where>
            <if test="fuzzy != null and fuzzy != ''">
                person_name like concat('%',#{fuzzy},'%')
                or sex like concat('%',#{fuzzy},'%')
                or id_card like concat('%',#{fuzzy},'%')
                or duty like concat('%',#{fuzzy},'%')
                or phone like concat('%',#{fuzzy},'%')
                or state like concat('%',#{fuzzy},'%')
            </if>
            and social_code = #{socialCode}
        </where>
        order by data_create_date_time desc
        limit #{page},#{pageSize}
    </select>
    <select id="selectTotalByCode" resultType="java.lang.Long">
        select count(*) from arc_person
        <where>
            <if test="fuzzy != null and fuzzy != ''">
                person_name like concat('%',#{fuzzy},'%')
                or sex like concat('%',#{fuzzy},'%')
                or id_card like concat('%',#{fuzzy},'%')
                or duty like concat('%',#{fuzzy},'%')
                or phone like concat('%',#{fuzzy},'%')
                or state like concat('%',#{fuzzy},'%')
            </if>
            and social_code = #{socialCode}
        </where>
    </select>
</mapper>